{
  "extends": ["airbnb-base", "plugin:prettier/recommended"],
  "plugins": ["prettier", "react"],
  "rules": {
    "prettier/prettier": "error",
    "no-var": "warn",
    "no-unused-vars": "off",
    "prefer-const": "off"
  },
  "env": {
    "es6": true,
    "browser": true
  },
  "parserOptions": {
    "ecmaVersion": 2018,
    "sourceType": "module",
    "ecmaFeatures": {
      "jsx": true
    }
  }
}
